@model Subject
<h3 class="text-center">Create subject</h3>
<form asp-action="Create">
	<div class="form-group">
		<label asp-for="@Model.Name" class="fw-bold"></label>
		<input asp-for="@Model.Name" type="text" class="form-control" required/>
	</div>
	<input class="btn btn-success mt-3 button" type="submit" value="Create" />
	<button class="button btn btn-warning mt-3 mx-3" asp-action="Index">Back</button>
</form>
