@{
    ViewData["Title"] = "Login Help";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-12 col-md-6 mb-4">
        <div class="bordered">
            <p class="text-center text-decoration-underline">For login as "student" use this login information</p>
            <p class="fw-bold">User name: student</p>
            <p class="fw-bold">Password: Student123</p>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-4">
        <div class="bordered">
            <p class="text-center text-decoration-underline">For login as "parent" use this login information</p>
            <p class="fw-bold">User name: parent</p>
            <p class="fw-bold">Password: Parent123</p>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-4">
        <div class="bordered">
            <p class="text-center text-decoration-underline">For login as "teacher" use this login information</p>
            <p class="fw-bold">User name: teacher</p>
            <p class="fw-bold">Password: Teacher123</p>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-4">
        <div class="bordered">
            <p class="text-center text-decoration-underline">For login as "admin" use this login information</p>
            <p class="fw-bold">User name: admin</p>
            <p class="fw-bold">Password: Admin123</p>
        </div>
    </div>
</div>
